body {background: lightblue;}
h1 {font-size: 50px;color: black; font-family: 'verdana'; margin-left: 30px;}
p {font-family: verdana; font-size: 20px; margin-left: 30px;}
img {border: 15pt; border-color: black; margin-left: 30px;}
ul {font-size: 30px; margin-left: 30px;}
